/* Have fun adding your style here :) - PS: At all times this file should contain a comment or a rule, otherwise opera might act buggy :( */

/* General Custom CSS */

/* Home page custom css
 ================================================
 */
.menu{text-transform:uppercase;}
.title_container{display:none;}
/*.slide-entry{background-color:#FFFFFF;}*/
/*.slide-content{padding-bottom:40px;background-color:#FFFFFF;}*/
#firstparallaxdiv{height:383px; padding-top: 120px;}
#secondparallaxdiv{height:400px; padding-top:200px;}
#hmtwitterdisplaydiv{height:200px; font-size:32px; font-weight:bold; color:#ffffff;}
#hmpagefooterdiv{height:400px;}
#hmpagefooterlogodiv{padding-bottom:45px;}
#hmpagefootercopyright{padding-top:30px; font-weight:bold;}
#twitterfeedicon{text-align: center;padding-bottom:20px;}
#twitterfeed{text-align: center; }



.hmfeaturedetailtxt{color:#FFFFFF; font-weight:bold; text-align: center;margin:0px; padding:0px;}
.hmpagedividerarrow{padding-top:15px; padding-bottom:5px;}
.hmpagedividertxttop{font-size:13px; text-align: center; font-weight:bold; padding-top:5px; padding-bottom:30px;}
.hmpagedividertxtbottom{font-size:13px; text-align: center; text-transform:uppercase; font-weight:bold; padding-top:30px; padding-bottom:5px;}
.hmpagefooterpixelseparator{background-color:#939499; height:1px; width:100%;}
.socialicon{padding-right:30px; padding-top:35px; padding-bottom:35px;}
h2.hmpagefeatureh2{color:#FFFFFF; text-align: center; margin:0px; padding:0px;}


/*
Desktop Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the desktop view of your site */

@media only screen and (min-width: 768px) {
  /* Add your Desktop Styles here */

}



/*
Mobile Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the Mobile and Tablet Portrait view */

@media only screen and (max-width: 767px) {
  /* Add your Mobile Styles here */

}